body {
  width: 100%;
  height: 100%;
  color: #0e5858;
  background-color: #ddf9fe;
}

/* Page header */
.heading {
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.page-header {
  background-color: #48bcd1;
}

/* Top Activities Section */
.top-activity {
  background-color: #ddf9fe;
  padding-bottom: 10px;
}

/* Table Styles */
p {
  margin: 0;
}

th {
  padding: 10px 15px 10px 2px;
  text-align: justify;
}

.table-header {
  background-color: #48bcd1;
  color: white;
  text-align: center;
  border: 1px #48bcd1 solid;
}

td,
.num-column,
.num-cell {
  padding-left: 5px;
}

.type-cell {
  text-transform: capitalize;
}

.participant-cell {
  padding-left: 10px;
}

.activity-column {
  padding-right: 95px;
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
}

.table-body {
  background-color: white;
  color: #0e5858;
}

.border {
  border: 1px #48bcd1 solid;
  border-top: none;
}

.notes {
  padding: 5px 10px;
  color: #0e5858;
  font-size: 14px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.notes > p {
  margin-top: 0;
  margin-bottom: 3px;
}

/* Random Generator Styles */
.random-generator {
  background-color: #baf4ff;
}

button {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.btn-generate {
  background-color: #48bcd1;
  color: white;
  border-radius: 25px;
  padding: 3px 20px;
  border: none;
}

.random-activity-output {
  width: 95%;
  background-color: #f0f0f0;
  margin: 3px auto 10px;
  font-size: 14px;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

/* Search and filter */
.search-area {
  margin: 10px;
  text-align: center;
}

.inline {
  display: inline;
}

.center {
  text-align: center;
}

.search-input {
  display: inline;
  border: none;
  border-radius: 35px;
  width: 55%;
  height: 23px;
  background-color: #f0f0f0;
  text-align: center;
}

.filter {
  display: inline;
}

i {
  color: #07b2b2;
  font-size: 25px;
  margin-left: 15px;
}

/* Feedback */
.feedback {
  background-color: #ddf9fe;
  padding: 5px;
}

.feedback-title {
  margin: 0;
}

.feedback-input {
  display: flex;
  justify-content: center;
  font-size: 12px;
  width: 95%;
  margin: 5px auto;
  background-color: #f0f0f0;
  border: none;
  padding: 20px 10px;
}

.btn-send {
  background-color: #48bcd1;
  color: white;
  border-radius: 25px;
  padding: 3px 10px;
  border: none;
}

.feedback-wrapper {
  display: flex;
  justify-content: start;
  background-color: #baf4ff;
}
